@mixin BackgroundImage() {
    background: (255,255,0,0.3);

      opacity:50%;
      // z-index: -1;
       width:100%;


  //  & > button  {
    //  z-index: 2;
    //    opacity: 1%;
    //  }
      

//}  

// button  {
//   z-index: 2;
//   opacity: 200% !important;
//   color:green;
//  }


}  
   
//}


