* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(15px + 0.390625vw);
}

h1,
h2 {
  text-align: center;
}

@media screen and (min-width: 1025px) {
  body {
    margin: 0 5rem 0 5rem;
  }
  body .header {
    right: 0%;
  }
}
body {
  background-color: #d3d3d3;
}

h1 header {
  font-family: rye, serif;
}

p {
  text-align: center;
}

.text__description {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 1rem 0 0 0;
}

.homesection__homepagebutton {
  width: 100%;
  background-color: #a80000;
  font-family: rye;
  border: none;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 1.2rem;
  height: 3em;
}

.homesection__image--shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
}

.homesection__homepagebutton:hover {
  color: yellow;
}

#openingbutton {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: auto;
  width: 70%;
  border-radius: 50% 50% 50% 50%;
  font-size: 3.5vw;
  padding: 1.5rem;
}

#openingbutton:hover {
  color: yellow;
}

#title2 {
  display: none;
}

@media screen and (min-width: 769px) {
  #title2 {
    display: block;
    width: 100%;
    background-color: #a80000;
    color: white;
    position: absolute;
    font-size: 3rem;
    flex: 1;
    text-align: center;
  }
}
.section--imagecontainer {
  background: 255, 255, 0, 0.3;
  opacity: 50%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 100%;
  aspect-ratio: 1/1.2;
}

@media screen and (min-width: 769px) {
  img {
    aspect-ratio: 0.7142857143;
  }
}
.menu__food {
  background: 255, 255, 0, 0.3;
  opacity: 50%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  aspect-ratio: 0.8333333333;
}

@media screen and (min-width: 769px) {
  .menu__food {
    aspect-ratio: 0.7142857143;
  }
}
.catering__food {
  background: 255, 255, 0, 0.3;
  opacity: 50%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_slide {
  display: none;
}

@media screen and (min-width: 769px) {
  #nav_default {
    display: none;
  }
}
.menuclassexit {
  animation-name: menudisappear;
  transition: 1s;
  animation-fill-mode: forwards;
  display: block;
  z-index: 40;
  position: fixed;
  background-color: #d3d3d3;
  color: black;
  height: 100%;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  margin: 0;
  animation-direction: normal;
  animation-duration: 0s;
  text-align: center;
  margin-top: 4rem;
  color: #a80000;
}

.menuclassenter {
  animation-name: menuappear;
  display: block;
  z-index: 40;
  position: fixed;
  background-color: #d3d3d3;
  color: black;
  height: 100%;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  margin: 0;
  animation-direction: normal;
  animation-duration: 0.75s;
  text-align: center;
  margin-top: 4rem;
}

@keyframes menuappear {
  0% {
    transform: translate(-500px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.header__defaultmenu--item {
  left: 0;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  color: black;
  text-decoration: none;
}

.header__defaultmenu--item:hover:hover {
  color: #a80000;
}

.header__responsivemenu--wrapper {
  display: none;
}

@media screen and (min-width: 769px) {
  .header__responsivemenu--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    height: 4rem;
    grid-area: p2;
    padding: 0.5rem;
  }
  .header__responsivemenu--wrapper > * {
    margin: 0.8rem;
  }
  .header__responsivemenu--item {
    z-index: 11;
    color: white;
    text-decoration: none;
  }
}
.header__responsivemenu--item:hover {
  color: #a80000;
}

.section {
  scroll-margin-top: 10;
}

@media screen and (min-width: 769px) {
  .scrollitem {
    font-size: 3.5vw;
  }
}
form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form > input {
  align-items: center;
}

.formsection--wrapper {
  display: flex;
  flex-direction: column;
}

.formsection--wrapper {
  width: min(100%, 15rem);
  margin: auto;
}

.formsection--wrapper > * {
  margin: 0.25rem;
}

label {
  font-size: 1.5rem;
}

.form--button {
  width: 100%;
  padding: 0.25rem 0 0.25rem 0;
  background-color: #a80000;
  border: none;
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: 1px 4px 4px 1px black;
}

#submit {
  background-color: #005200;
}

.form--button:hover {
  color: pink;
}

legend {
  font-size: 1.5rem;
}

.pagetitle {
  margin-top: 4rem;
  top: 0rem;
  font-family: "Rye", serif;
  background-color: #a80000;
  width: 100%;
}

footer {
  background-color: #005200;
  color: White;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15vh;
}

.footer__address {
  width: 100%;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 769px) {
  .footer__address {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
.footer--logo {
  height: 2rem;
  width: 2rem;
  margin: 1em 2em 1em 2em;
}

#logowrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#questionmark {
  letter-spacing: 2rem;
}

.header {
  z-index: 10;
  background-color: #005200;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 769px) {
  .header__burgerholder {
    display: none;
  }
}
@media (pointer: fine) {
  .header__hamburger:hover {
    color: white;
  }
}
.header_default--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-area: p1;
  margin-left: 1rem;
}

@media screen and (min-width: 769px) {
  .header_default--wrapper {
    display: none;
  }
}
.header__hamburger {
  left: 0vw;
  top: 0vw;
  display: block;
  z-index: 5;
  margin-top: 1em;
  cursor: pointer;
}

.header__hamburger--hamburger-bit {
  height: 0.5em;
  background-color: #a80000;
  margin: 0.5em 0;
  transition: 0.4s;
}

.header__hamburger--hamburger-bit {
  width: clamp(3rem, 5vw, 200px);
}

.show > .header__hamburger--hamburger-bit {
  background-color: white;
}

.show #hamburger-bit-1 {
  transform: translate(0, 1em) rotate(-45deg);
  transition-duration: 500ms;
}

.show #hamburger-bit-2 {
  opacity: 0;
  transition-duration: 500ms;
}

.show #hamburger-bit-3 {
  transform: translate(0, -1em) rotate(45deg);
  transition-duration: 500ms;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Rye", serif;
  font-weight: 400;
  margin: auto;
}

@media screen and (min-width: 769px) {
  .title {
    display: none;
    font-size: 4rem;
    flex: 1;
    text-align: center;
    margin: 0% 40% 0% 40%;
  }
  .fa-solid {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 769px) {
  .header__burgerholder > .header__hamburger > * {
    display: none;
  }
}
.fa-solid {
  font-size: 2em;
  margin-top: 0.85em;
  color: black;
}

@media (pointer: fine) {
  .fa-solid:hover {
    color: white;
  }
}
.section--sectiondescription {
  position: absolute;
  text-align: center;
  background-color: #005200;
  color: white;
}

@media screen and (min-width: 769px) {
  .section__responsivewrapper {
    display: grid;
    width: 90%;
    row-gap: 1%;
    column-gap: 5%;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 10%;
  }
}
.iframe {
  width: min(100%, 30rem);
  aspect-ratio: 1/1.2;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1rem;
  box-shadow: 1px 5px 5px 1px black;
}

@media screen and (min-width: 769px) {
  .iframe {
    aspect-ratio: 1/1;
  }
}
.homesection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: left;
  aspect-ratio: 1/1.2;
  margin: auto;
  width: min(100vw, 85%);
  margin-bottom: 1rem;
  box-shadow: 1px 5px 5px 1px black;
}

#openingsection {
  margin-top: 5rem;
  aspect-ratio: auto;
}

#buildinginside {
  aspect-ratio: auto;
}

.home__subtitle {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 0;
  font-size: 2.5rem;
  width: 100%;
  color: white;
}

#WhoWeAre {
  box-shadow: none;
  width: 80%;
  aspect-ratio: auto;
}

@media screen and (min-width: 769px) {
  #WhoWeAre {
    height: 20vh;
  }
}
#Story--title {
  color: black;
}

.homesection--imagecontainer {
  overflow: hidden;
}

.homesection--contactus {
  aspect-ratio: auto;
  padding: 1.2em;
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: calc(15px + 0.390625vw);
}

.contact__questionmark {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 3rem;
}

#Anythingtosay {
  margin-bottom: 1rem;
}

.menu__food--title {
  position: absolute;
  top: 1rem;
  font-family: "Rye", serif;
  color: white;
  z-index: 2;
  aspect-ratio: 0.8333333333;
}

@media screen and (min-width: 769px) {
  .menu__food--title {
    aspect-ratio: 0.7142857143;
  }
}
.menu__food--shade {
  width: 100%;
  aspect-ratio: 0.8333333333;
  background: rgba(0, 0, 0, 0.99);
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 769px) {
  .menu__food--shade {
    aspect-ratio: 0.7142857143;
  }
}
.menusection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  box-shadow: 1px 5px 5px 1px black;
  width: 100%;
  aspect-ratio: 0.8333333333;
}

@media screen and (min-width: 769px) {
  .menusection {
    aspect-ratio: 0.7142857143;
  }
}
.menu__item--wrapper {
  position: absolute;
  text-align: left;
  margin-top: 1rem;
  padding: 3vw;
  color: white;
  margin-left: 10%;
}

.menu__item {
  font-weight: 600;
  line-height: 2rem;
  word-break: break-word;
  width: 80%;
}

.menu__item--description {
  font-size: 0.75rem;
  word-break: break-word;
  width: 80%;
}

.catering__food--title {
  position: absolute;
  top: 1rem;
  font-family: "Rye", serif;
  color: white;
  z-index: 2;
}

.catering__food--shade {
  width: 100%;
  aspect-ratio: 1/1.2;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.cateringsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  box-shadow: 1px 5px 5px 1px black;
}

.catering__item--wrapper {
  position: absolute;
  text-align: left;
  margin-top: 1rem;
  padding: 3vw;
  color: white;
  margin-left: 10%;
}

.catering__item {
  font-weight: 600;
  line-height: 2rem;
  word-break: break-word;
  width: 80%;
}

.catering__item--description {
  font-size: 0.75rem;
  word-break: break-word;
  width: 80%;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 14.5rem;
}

.legend {
  text-align: center;
}

.career__label {
  padding: 1rem;
  font-size: 1em;
}

/*# sourceMappingURL=main.css.map */
