footer {background-color:#005200;color:White; font-size:.75rem; text-align: left;
     display: flex; flex-direction: column; align-items: center;
    padding-top: .5rem;}

    .footer--logo {height: 2rem; width:2rem; margin: 1em 2em 1em 2em } 

#logowrapper {display:flex; flex-direction: row; justify-content:space-evenly; }

#questionmark {letter-spacing: 2rem;}