@import "../abstracts/variables.scss";

#footerwrapper {position:relative;}



footer {
  background-color: $DarkGreenColor;
  color: White;

  display: flex;
  flex-direction: column;
  align-items: center;
  
    width: 100%;
}

.footer--shortpage {
  margin-top: 17rem;}

  .footer__wrapper--margin {
 
  bottom:0;
}




.footer__address {
 width: 100%;
  text-align: center;
  margin: auto;
}



.footer__address{
width: min(100%, 48rem);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;

}


@media screen and (min-width: 769px)  {
 .footer__address{ flex-direction: row;}
}

.footer--logo {
  height: 2rem;
  width: 2rem;
  margin: 1em 2em 1em 2em;
}

#logowrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#questionmark {
  letter-spacing: 2rem;
}
