@import "../abstracts/variables.scss";

footer {
  background-color: $DarkGreenColor;
  color: White;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 15vh;
}

.footer__address {
  width: 100%;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 769px) {
  .footer__address {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
  }
}

.footer--logo {
  height: 2rem;
  width: 2rem;
  margin: 1em 2em 1em 2em;
}

#logowrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#questionmark {
  letter-spacing: 2rem;
}
