@import "../abstracts/variables.scss";



.section--sectiondescription {
    position: absolute; 
    text-align: center;
    background-color: $DarkGreenColor;
  color:white;
  }

//#openingsection { position:relative;}


@media screen and (min-width: 769px) {
  .section__responsivewrapper {
   
    
  display: grid;
  width:80%;
  row-gap:1%;
  column-gap: 5%;
  grid-template-columns: 1fr 1fr;
  //grid-template-rows: 1fr 1fr;
  margin: 10%;
}
  
  }