
  
.pagetitle {
      //position: absolute;
    margin-top: 4rem;
    
    top:0rem;
    font-family: "Rye", serif;
    background-color: #a80000;
    }
    
  
// .section__food--title {
//   //  position: absolute;
//   top:0;
//   font-family: "Rye", serif;
//   background-color: #a80000;
//   }
  