
  
.pagetitle {
    //  position: absolute;
    top:0;
    font-family: "Rye", serif;
    background-color: #a80000;
    }
    
  
// .section__food--title {
//   //  position: absolute;
//   top:0;
//   font-family: "Rye", serif;
//   background-color: #a80000;
//   }
  