@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";





.section--imagecontainer {  
    @include BackgroundImage;
    background-size:     cover;                      
    background-repeat:   no-repeat;
}




img {
    width: 100%;
    aspect-ratio: 1 / 1.2;  }
  
  

#buildinginside {
    aspect-ratio: 1 / 1.5;
}


.menu__food {
  @include BackgroundImage;
  background-size:     cover;                      
  background-repeat:   no-repeat;
opacity:.3;
}

.catering__food {
    @include BackgroundImage;
    background-size:     cover;                      
    background-repeat:   no-repeat;
  opacity:.3;
  }