


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  .menu_slide {
    display: none;
  }
  
  @media screen and (min-width: 769px) {
    #nav_default {
      display: none;
    }
  }

  
  .menuclassexit {
    animation-name: menudisappear;
    transition: 1s;
    animation-fill-mode: forwards;
    display: block;
    z-index: 40;
    position: fixed;
    background-color: #d3d3d3;
    color: black;
    height: 100%;
    width: 100%;
    top: 0;
    overflow-x: hidden;
    margin: 0;
    animation-direction: normal;
    animation-duration: 0s;
    text-align: center;
    margin-top: 4rem;
    color: #a80000;
  }
  
  .menuclassenter {
    animation-name: menuappear;
    display: block;
    z-index: 40;
    position: fixed;
    background-color: #d3d3d3;
    color: black;
    height: 100%;
    width: 100%;
    top: 0;
    overflow-x: hidden;
    margin: 0;
    animation-direction: normal;
    animation-duration: 0.75s;
    text-align: center;
    margin-top: 4rem;
  }
  
  //  @keyframes menudisappear {
  //    0% {
  //      transform: translate(0px, 0px);
  //      display: block;
  //    }
  //    100% {
  //      transform: translate(-100%, 0px);
  //      display: none;
  //    }
  //  }
  @keyframes menuappear {
    0% {
      transform: translate(-500px, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  .header__defaultmenu--item {
    left: 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    color: black;
    text-decoration: none;
  }
  
  .header__defaultmenu--item:hover:hover {
    color: #a80000;
  }
  
  .header__responsivemenu--wrapper {
    display: none;
  }
  
  @media screen and (min-width: 769px) {
    .header__responsivemenu--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 4rem;
      grid-area: p2;
      padding: 0.5rem;
    }
    .header__responsivemenu--wrapper > * {
      margin: 0.8rem;
    }
    .header__responsivemenu--item {
     // font-size: 1rem;
      z-index: 11;
      color: black;
      text-decoration: none;
    }
  }
  .header__responsivemenu--item:hover {
    color: #a80000;
  }
  
  .section {
    scroll-margin-top: 10;
  }
  
  @media screen and (min-width: 769px) {
    .scrollitem {
      //font-size: 1.5rem;
      font-size: 3.5vw;
    }
  }
  


