

  h1{  font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;}

    p {
      padding: 1rem;
    }

   // .Header {  font-family: "Times New Roman", serif;
     // font-weight: 400;
      //font-style: normal;}
  
    //  article {  transform: translateY(10rem);
      //  margin-bottom: 10rem;}

