h1 header{
    font-family: rye, serif;
}


p {//width:80%;
text-align: center;} 
//{margin: 1rem;}



.text__description {
    width:80%;
    text-align: center;
    margin: auto;
    padding: 1rem 0 0 0;  
}