@import "../abstracts/mixins.scss";

#openingsection {margin-top: 5rem;}


#WhoWeAre {
   box-shadow: none;
   width:100%;
   aspect-ratio: auto;
  }

#Story {padding:3rem; margin-top: 2rem;}


.homesection { display:flex; flex-direction: column; justify-content: center; align-items: center;
    
     position:relative;
     text-align: left; 
     aspect-ratio:1 / 1.2 ;
    margin: auto;
    width:80%;
  margin-bottom: 1rem;
    box-shadow: 1px 5px 5px 1px black;
  }

  
  @media screen and (min-width: 769px) {
.homesection{height:80vh;
width:100vw;}
  }
  
.homesection--imagecontainer {
 // box-shadow: 4rem black;
//display: none;
overflow: hidden;
}



.section--contactus {
     height:25rem;
 }
 
 #questionmark {
     font-size: 32px;
 }

 

.home__subtitle {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
  position: absolute;
  top:0;
  font-size: 2.5rem;
 // background-color:#005200;
  width:100%;
color:white;
}
  

#Story--title { color: black;}