.iframe {
  width: min(100%, 30rem);

  aspect-ratio: 1/1.2;

  text-align: center;
  display: block;
  margin: auto;

  margin-top: 1rem;

  box-shadow: 1px 5px 5px 1px black;
}

@media screen and (min-width: 769px) {
  .iframe {
    aspect-ratio: 1/1;
  }
}
