
.menu__food--title {
    position: absolute;
  top:1rem;
  font-family: "Rye", serif;
color:white;  

z-index: 2;
}

  
.menu__food--shade { width:100%;  aspect-ratio: 1/1.2; background: rgba(0, 0, 0, 0.99);
  position: absolute;
  top: 0;
  left: 0;}



   .menusection { display:flex; flex-direction: column; justify-content: center; align-items: center;
     margin-bottom: 1rem;
      position:relative;
      text-align: center; 
    }

  

  .menu__item--wrapper {
    //display: inline-block; 
    position: absolute;
    text-align: left; 
    margin-top: 1rem;
    padding:3vw;
    color:white;
    margin-left: 10%;
  }
  
  
  .menu__item {
  font-weight: 600;
  line-height: 2rem;
  word-break: break-word;
  width:80%;

  }
  

.menu__item--description {
  font-size: .75rem;
  word-break: break-word;
  width:80%;
}

    
  